{% extends "layouts/base.html" %}

{% block title %} Billing {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">
    <div class="row">
      <div class="card">
        <div class="card-header pb-0 px-3">
          <h6 class="mb-0">View Ticket</h6>
        </div>
          
            <div class="card-body pt-4 p-3">
              <ul class="list-group">
                <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                  <div class="d-flex flex-column">
                    <h6 class="mb-3 text-sm">{{results["title"]}}</h6>
                    <span class="mb-2 text-xs">Requester: <span class="text-dark font-weight-bold ms-sm-2">{{results["opener"]}}</span></span>
                    <span class="mb-2 text-xs">Category: <span class="text-dark ms-sm-2 font-weight-bold">{{results["category"]}}</span></span>
                    <span class="mb-2 text-xs">Review Status: <span class="badge badge-sm bg-gradient-success">{{results["res_status"]}}</span></span>
                    <span class="text-xs">Ticket Description: <span class="text-dark ms-sm-2 font-weight-bold">{{results["desc"]}}</span></span>
                  </div>
                  <div class="ms-auto text-end">
                    <a class="btn btn-link text-dark px-3 mb-0" href="/ticket/edit/{{ results["id"] }}"><i class="material-icons text-sm me-2">edit</i>Edit</a>
                  </div>
                </li>
              </ul>
            </div>
      </div>
    </div>
    
    {% include 'includes/footer.html' %}
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
